node_modules
mochawesome-report/
cypress/e2e/mochawesome.json
cypress/e2e/reports/
cypress/e2e/videos/
cypress/e2e/screenshots/
runner-results
multi-reporter-config.json
videos
screenshots
mochawesome.json
parallel-weights.json